nav {
  color: #f8f8f2;
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  padding-top: 3rem;
  background-color: #282a36;
}

.jumbotron h1 {
  font-family: "Ubuntu Mono", monospace;
}

.jumbotron p {
  font-family: "Noto Sans", sans-serif;
}

.jumbotron img {
  width: 200px;
}
section h1 {
  color: #ff79c6;
  font-family: "Inter", sans-serif;
}

section p {
  color: #f8f8f2;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #44475a;
  color: #f8f8f2;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: color 0.5s ease;
}

.transparent-button:hover {
  color: #ff79c6;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./img/wave-haikei2.svg);
}
