* {
  font-family: "Noto Sans", sans-serif;
}

nav {
  color: #f8f8f2;
}

.jumbotron {
  padding-top: 3rem;
  background-color: #282a36;
}

.jumbotron img {
  width: 200px;
}
section h1 {
  color: #ff79c6;
  font-family: "Inter", sans-serif;
}

section p {
  color: #f8f8f2;
}

.transparent-button {
  background-color: transparent;
  border: 2px solid #44475a;
  color: #f8f8f2;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: color 0.5s ease;
}

.transparent-button:hover {
  color: #ff79c6;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
